@charset "UTF-8";
:root {
  --main-title-color: #ffffff;
  --secondary-title-color: #303030;
  --main-text-color: #555555;
  --secondary-text-color: #9da4bd;
  --third-text-color: #303030;
  --accent-color: #ff6c00;
}

body {
  font-family: "Open Sans", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

@keyframes shake {
  0% {
    transform: translate(10px);
  }
  25% {
    transform: translate(-20px);
  }
  75% {
    transform: translate(10px);
  }
  100% {
    transform: translate(0px);
  }
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.btn {
  width: 160px;
  height: 40px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid #ff6c00;
  border-radius: 100px;
  background-color: transparent;
  transition: background-color 500ms linear;
}

.btn:hover, .btn:focus {
  background-color: var(--accent-color);
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.pre-text {
  font-size: 11px;
  line-height: 1.36364;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.pre-text::before {
  content: "";
  display: block;
  width: 63px;
  height: 1px;
  margin-right: 21px;
}

.pre-text_color_light {
  color: rgba(157, 164, 189, 0.6);
}

.pre-text_color_light::before {
  background-color: rgba(157, 164, 189, 0.6);
}

.pre-text_color_dark {
  color: var(--third-text-color);
}

.pre-text_color_dark::before {
  background-color: #303030;
}

.after-text {
  font-size: 18px;
  line-height: 1.66667;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.after-text_color_light {
  color: var(--secondary-text-color);
}

.after-text_color_dark {
  color: var(--main-text-color);
}

.section-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.section-title_color_dark {
  color: var(--secondary-title-color);
}

.socials-list {
  display: flex;
  justify-content: center;
}

.socials-list__item {
  width: 44px;
  height: 44px;
}

.socials-list__item:not(:last-child) {
  margin-right: 10px;
}

.socials-list__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color 500ms linear, fill 500ms linear;
}

.socials-list__link:hover, .socials-list__link:focus {
  background-color: yellowgreen;
}

.socials-list__icon {
  transition: background-color 500ms linear, fill 500ms linear;
}

.socials-list__link:hover .socials-list__icon,
.socials-list__link:focus .socials-list__icon {
  fill: var(--accent-color);
}

.header {
  position: absolute;
  width: 100%;
  /* padding-top: 32px;
    padding-bottom: 32px; */
}

.header .container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 70px;
  /* animation: shake 400ms linear alternate infinite forwards; */
}

.logo__icon {
  fill: #303030;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
}

.header-list__item:not(:last-child) {
  margin-right: 40px;
}

.header-list__link {
  display: block;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
  padding-top: 48px;
  padding-bottom: 48px;
  transition: color 500ms linear;
}

.header-list__link:hover, .header-list__link:focus {
  color: var(--accent-color);
}

.header-right {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header-right__tel {
  display: block;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  padding-top: 48px;
  padding-bottom: 48px;
  color: #ffffff;
  margin-right: 40px;
}

.header-right__button {
  color: #ffffff;
}

.hero-main {
  background-color: #2a1e1e;
  flex-grow: 1;
  padding: 272px 0 206px 91px;
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-container {
  display: flex;
}

.hero-left {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 40px;
  padding-left: 30px;
}

.hero-list {
  /* width: 100px; */
  display: flex;
  align-items: center;
  transform: rotate(-90deg);
  transform-origin: left top;
}

.hero-list::before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background-color: #303030;
  flex-shrink: 0;
}

.hero-list__item {
  margin-left: 40px;
}

.hero-list__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--third-text-color);
  transition: color 500ms linear;
}

.hero-list__link:hover, .hero-list__link:focus {
  color: var(--accent-color);
}

.hero-main__pre-text {
  margin-bottom: 20px;
}

.hero-main__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
  margin-bottom: 20px;
}

.about-wrap {
  display: flex;
}

.about-list {
  display: flex;
  margin-right: 64px;
}

.about-list__item + .about-list__item {
  margin-left: 30px;
}

.about-pre-text {
  margin-bottom: 20px;
}

.about-content__title {
  margin-bottom: 20px;
}

.about-after-text {
  margin-bottom: 20px;
}

.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  margin-bottom: 40px;
}

.about-content {
  max-width: 500px;
}

.about-btn:hover, .about-btn:focus {
  color: #ffffff;
}

.prices {
  background: #111319;
  background-image: url(../images/prices/prices-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.prices-pre-text {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}

.prices-pre-text::before {
  background-color: rgba(157, 164, 189, 0.6);
}

.prices-title {
  color: var(--main-title-color);
  margin-bottom: 44px;
}

.prices-list-wrap {
  display: flex;
  margin-bottom: 50px;
}

.prices-list {
  width: 50%;
  padding: 30px 40px;
}

.prices-list-left {
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.prices-list-right {
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.prices-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.prices-item:not(:last-child) {
  margin-bottom: 20px;
}

.prices-item::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
  flex-grow: 1;
  margin-left: 6px;
  margin-right: 6px;
}

.prices-item-text,
.prices-item-name {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  flex-shrink: 0;
}

.prices-item-name {
  order: -1;
}

.prices-btn {
  color: #ffffff;
  display: block;
  margin: 0 auto;
}

.reason-wrap {
  display: flex;
  justify-content: space-between;
}

.reason-left,
.reason-right {
  /* width: calc(100% / 2 - 15px); */
  width: calc((100% - 30px) / 2);
}

.reason-list {
  display: flex;
  width: 370px;
  flex-wrap: wrap;
  align-items: end;
  margin: 0 auto;
}

.reason-item {
  width: 170px;
  background: #f7f7f7;
  padding: 20px 24px;
}

.reason-item:nth-child(even) {
  margin-top: 30px;
}

.reason-item:nth-child(odd) {
  margin-right: 30px;
}

.reason-item-spec {
  padding: 20px;
}

.reason-count {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--third-text-color);
  display: block;
  text-align: center;
  margin-bottom: 6px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.reason-count::after {
  content: "+";
  font-size: 16px;
  line-height: calc(22 / 16);
  color: var(--accent-color);
  margin-top: 5px;
}

.reason-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--third-text-color);
}

.reason-pre-text {
  color: var(--third-text-color);
  margin-bottom: 20px;
}

.reason-pre-text::before {
  background-color: #303030;
}

.reason-title {
  color: var(--secondary-title-color);
  margin-bottom: 20px;
}

.reason-after-text {
  color: var(--main-text-color);
}

.masters {
  background-color: #f7f7f7;
}

.masters-pre-text {
  margin-bottom: 20px;
}

.masters__title {
  margin-bottom: 44px;
}

.masters-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.masters-list__item {
  width: 370px;
}

.item-two {
  order: 1;
}

.item-three {
  order: 2;
}

.item-one {
  order: 3;
}

.masters-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  box-shadow: 0 2px 4px 2px rgba(157, 164, 189, 0.12);
}

.masters-list__overlay {
  position: relative;
  overflow: hidden;
}

.masters-list__top-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 20px;
  color: #ffffff;
  line-height: 1.5;
  background-color: rgba(248, 181, 56, 0.7);
  overflow: auto;
  transform: translateY(100%);
  transition: transform 500ms linear;
}

.masters-item:hover .masters-list__top-text {
  transform: translateY(0%);
}

.masters-list__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
  margin-bottom: 8px;
}

.masters-list__text {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
  margin-bottom: 30px;
}

.masters-list__content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.gallery-pre-text {
  color: var(--third-text-color);
  margin-bottom: 44px;
}

.gallery-pre-text::before {
  background-color: #303030;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.gallery-item {
  flex-basis: calc(100% / 4 -30px);
  margin-left: 30px;
}

.contact-wrapper {
  background: #191c26;
  background-image: url(../images/contacts-bg.png);
  background-size: 50% auto;
  background-position: right center;
  background-repeat: no-repeat;
}

.contact-wrapper .container {
  display: flex;
}

.online {
  padding-right: 40px;
  padding-bottom: 193px;
}

.online-title {
  color: var(--main-title-color);
  margin-bottom: 44px;
}

.online-input {
  padding-bottom: 8px;
  width: 270px;
  border: none;
  background: transparent;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  margin-bottom: 44px;
  color: #ffffff;
  outline: none;
}

.online-input:focus {
  border-bottom: 1px solid #ffffff;
}

.online-input:focus::placeholder {
  color: #ffffff;
}

.online-input::placeholder {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  color: rgba(157, 164, 189, 0.4);
  transition: color 500ms linear;
}

.online-input:not(:last-child) {
  margin-right: 30px;
}

.online-input.small {
  width: 260px;
}

.online-message {
  width: 560px;
  height: 76px;
  display: block;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  resize: none;
  margin-bottom: 44px;
  color: #ffffff;
  outline: transparent;
  transition: border-bottom 500ms linear;
}

.online-message:focus {
  border-bottom: 1px solid #ffffff;
}

.online-message:focus::placeholder {
  color: #ffffff;
}

.online-message::placeholder {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  color: rgba(157, 164, 189, 0.4);
  transition: color 500ms linear;
}

.online-btn {
  color: #ffffff;
}

.contacts {
  padding-left: 100px;
}

.contacts-title {
  color: var(--main-title-color);
}

.contacts-link,
.contacts-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  font-style: normal;
}

.contacts-subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--secondary-text-color);
}

.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--third-text-color);
}

.backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(23, 26, 36, 0.2);
  top: 0;
  transition: opacity 600ms, visibility 600ms;
  /* display: flex;
    align-items: center;
    justify-content: center; */
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 550px;
  min-height: 600px;
  background-color: #ffffff;
  border-radius: 5px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.btn-open {
  width: 40px;
  height: 40px;
  border: 1px solid gray;
  background-color: unset;
  border-radius: 50%;
  position: absolute;
  right: 5px;
  top: 5px;
}

.modal-title {
  font-size: 18px;
  text-align: center;
  color: var(--secondary-title-color);
  display: block;
  margin-bottom: 20px;
}

.modal-form-field {
  margin-bottom: 15px;
}

.modal-form-label {
  font-size: 14px;
  color: var(--third-text-color);
  display: block;
  margin-bottom: 4px;
}

.input-wrap {
  display: block;
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 42px;
  border: 1px solid rgba(157, 164, 189, 0.4);
  border-radius: 4px;
  padding-left: 40px;
}

.modal-form-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-comment {
  width: 100%;
  height: 130px;
  border: 1px solid rgba(157, 164, 189, 0.4);
  border-radius: 4px;
  padding-left: 10px;
  padding-top: 15px;
  resize: none;
}

.modal-comment::placeholder {
  font-size: 12px;
}

.check-label {
  display: flex;
  align-items: center;
}

/*  --------- Чекбокс-спрайт--------- */
.icon-check {
  width: 15px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox:checked + .check-label > .icon-check {
  background: var(--accent-color);
  border: transparent;
}

/*  --------- Чекбокс-бифор--------- */
/* .check-label::before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border: 2px solid #000000;
    border-radius: 2px;
    margin-right: 5px;
} */
/* .checkbox:checked + .check-label::before {
    background: var(--accent-color);
    background-image: url(../images/check.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: none;
} */
.form-btn {
  margin: 0 auto;
  display: block;
}

/*  --------- Чекбокс-ползунок--------- */
/* .check-label {
    position: relative;
} */
/* .check-label::before {
    content: "";
    display: block;
    width: 50px;
    height: 26px;
    border: 1px solid rgba(157, 164, 189, 0.4);
    border-radius: 30px;
    transition: background-color 300ms linear;
}

.check-label::after {
    content: "";
    display: block;
    position: absolute;
    left: 3px;
    width: 20px;
    height: 20px;
    background-color: rgba(38, 81, 240, 0.8);
    border-radius: 50%;
    transition: transform 300ms linear;
}

.checkbox:checked + .check-label::after {
    transform: translate(23px);
}

.checkbox:checked + .check-label::before {
    background-color: rgb(97, 199, 141);
} */
/*# sourceMappingURL=main.css.map */