.about-wrap {
    display: flex;
}

.about-list {
    
    margin-right: 30px;
    display: none;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
    }
    @media screen and (min-width: 1200px) {
        margin-right: 64px;
        flex-direction: row;
    }
}

.about-list__item + {
    .about-list__item {
        margin-top: 30px;
        @media screen and (min-width: 1200px) {
            margin-left: 30px;
            margin-top: unset;
        }
    }
} 

.about-pre-text { 
    margin-bottom: 20px;
}



.about-content__title {
    margin-bottom: 20px;
}

.about-after-text {

    margin-bottom: 20px;
}

.about-text {
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    margin-bottom: 40px;
    
}

.about-content {
    @media screen and (min-width: 768px) {
        max-width: 330px;
    }
    
    @media screen and (min-width: 1200px) {
        max-width: 500px;
    }
}

.about-btn {
    &:hover,
    &:focus {
        color: #ffffff;
    }
}
