.about-wrap {
    display: flex;
}

.about-list {
    display: flex;
    margin-right: 64px;
}

.about-list__item + {
    .about-list__item {
        margin-left: 30px;
    }
} 

.about-pre-text { 
    margin-bottom: 20px;
}



.about-content__title {
    margin-bottom: 20px;
}

.about-after-text {

    margin-bottom: 20px;
}

.about-text {
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    margin-bottom: 40px;
}

.about-content {
    max-width: 500px;
}

.about-btn {
    &:hover,
    &:focus {
        color: #ffffff;
    }
}
