.header {
    position: absolute;
    width: 100%;

     padding-top: 40px;
    padding-bottom: 40px; 
}

.header {
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
} 

.header__logo {
    margin-right: 70px;
    /* animation: shake 400ms linear alternate infinite forwards; */
}

.logo__icon {
    fill: #ffffff;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
    display: none;
}

.header-list__item {
    &:not(:last-child) {
        margin-right: 40px;
    }
}

.header-list__link {
    display: block;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: #ffffff;
    padding-top: 48px;
    padding-bottom: 48px;
    transition: color 500ms linear;
        &:hover,
        &:focus {
        color: var(--accent-color);
    }
}



.header-right {
    margin-left: auto;
    display: flex;
    align-items: center;
    display: none;
}

.header-right__tel {
    display: block;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    padding-top: 48px;
    padding-bottom: 48px;
    color: #ffffff;
    margin-right: 40px;
}

.header-right__button {
    color: #ffffff;
}

.mob-menu {
    width: 337px;
    height: 100vh;
    position: fixed;
    background-color: #ffffff;
    top: 0;
    right: 0;
    padding-top: 48px;
    padding-left: 40px;
    padding-right: 31px;
}

.menu-close {
    width: 40px;
    height: 40px;
    background-color: transparent;
    color: #303030;
    border: none;
    display: block;
    margin-left: auto;
}

.mob-menu-list {
    margin-bottom: 64px;
}

.mob-menu-list__item:not(:last-child) {
    margin-bottom: 24px;
}

.mob-menu.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}