.masters {
    background-color: #f7f7f7;
}
.masters-pre-text {
    margin-bottom: 20px;
    
}



.masters__title {

    margin-bottom: 44px;
}

.masters-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
}

.masters-list__item {
    width: 370px;
}

.item-two {
    order: 1;
}

.item-three {
    order: 2;
}

.item-one {
    order: 3;
}

.masters-item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    box-shadow: 0 2px 4px 2px rgba(157, 164, 189, 0.12);
}

.masters-list__overlay {
    position: relative;
    overflow: hidden;
}

.masters-list__top-text {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 20px;
    color: #ffffff;
    line-height: 1.5;
    background-color: rgba(248, 181, 56, 0.7);
    overflow: auto;
    transform: translateY(100%);
    transition: transform 500ms linear;
    .masters-item:hover & {
    transform: translateY(0%);
}
}



.masters-list__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.39;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--third-text-color);
    margin-bottom: 8px;
}

.masters-list__text {
    font-size: 14px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ff6c00;
    margin-bottom: 30px;
}

.masters-list__content {
    padding-top: 30px;
    padding-bottom: 30px;
}