.pre-text {
    @include font(11px, 15px, 600, 0.1em);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    &::before {
        content: "";
        display: block;
        width: 63px;
        height: 1px;

        margin-right: 21px;
    }
    &_color_light {
        color: rgba(157, 164, 189, 0.6);
        &::before {
            background-color: rgba(157, 164, 189, 0.6);
        }
    }
    &_color_dark {
        color: var(--third-text-color);
        &::before {
            background-color: #303030;
        }

    }
}



