:root {
    --main-title-color: #ffffff;
    --secondary-title-color: #303030;
    --main-text-color: #555555;
    --secondary-text-color: #9da4bd;
    --third-text-color: #303030;
    --accent-color: #ff6c00;
}
// $accent-color: #ff6c00;